<ion-header>
  <ion-navbar>
    <ion-title>{{ contact.firstName }} {{ contact.lastName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header>
            Resources
        </ion-list-header>

        <ion-item-divider color="light" *ngIf="!contact.assignments || contact.assignments.length == 0 ">
            &nbsp;
        </ion-item-divider>

        <ion-item-group *ngFor="let assignment of contact.assignments">
            <ion-item-divider color="light">
                {{ assignment.startDate | date:'mediumDate'}}
                <ion-icon name='md-done-all' 
                    item-end [color]="assignment.isReady ? 'danger' : 'dark'"
                    (click)="showConfirm(assignment.$key)">
                </ion-icon>
            </ion-item-divider>
            <ion-item *ngFor="let resource of assignment.resources">
                <ion-icon [name]="resource.type == 'disc' ? 'ios-disc' : 'ios-book'" item-start></ion-icon>
                <h2 [innerHtml]="resource.name"></h2>
                <p [innerHtml]="resource.author"></p>
            </ion-item>
        </ion-item-group>
        
        <ion-list-header>
            Following
        </ion-list-header>

        <ion-item-group>
            <ion-item-divider color="light">
                &nbsp;
            </ion-item-divider>
            <ion-item-sliding>
                
                <ion-item>
                    <ion-icon name='ios-book' item-start></ion-icon>
                    <h2 [innerHtml]="'BBQ en mi casa'"></h2>
                    <p [innerHtml]="'2017-11-30'"></p>
                </ion-item>

                <ion-item-options side="right">
                    <button ion-button color="light">
                        <ion-icon name="md-trash"></ion-icon>
                    </button>
                    <button ion-button color="light">
                        <ion-icon name="md-create"></ion-icon>
                    </button>
                </ion-item-options>
                
            </ion-item-sliding>
        </ion-item-group>

    </ion-list>

    <ion-fab right bottom>
        <button ion-fab color="light"><ion-icon name="md-add"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab><ion-icon name="ios-book"></ion-icon></button>
            <button ion-fab><ion-icon name="ios-disc"></ion-icon></button>
            <button ion-fab><ion-icon name="md-checkmark"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>

</ion-content>